* {
margin: 0;
padding: 0;
}

* h1 {
font-size: 20px;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
}

* h2 {
font-size: 16px;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
}

*  h3 {
font-size: 14px;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
}

*  h4 {
font-size: 12px;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
}

*  p {
font-size: 14px;
font-family: "Roboto", sans-serif;
font-weight: 300;
font-style: normal;
color: dimgray;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 20px auto auto;
    /* gap: 10px; */
    background-color: rgb(220, 228, 239);
}

.header {
    /* location within overall grid */
    grid-row: 1 / 2;
    grid-column: 2 / 4;

    /* internal grid definition */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 80px;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.search > svg {
    width: 24px;
    height: 24px;
}

.alerts {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.alerts > svg,
.alerts > img {
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

.alerts > svg {
    width: 24px;
    height: 24px;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user-name {
    padding-left: 20px;
}

.side-nav {
    /* location within overall grid */
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    
    /* internal grid definition */
    display: grid;
    grid-template-rows: 80px 60px 250px 1fr;
    width: auto;
    height: auto;
    background-color: rgb(25 146 212);
    padding: 20px 5px 5px 40px;
}

.side-nav-header {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;
}

.side-nav .logo {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;
}

.menu-1, 
.menu-2 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-name {
    padding-left: 15px;
}

li {
    list-style-type: none;
    color: #FFFFFF;
    padding-bottom: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
    
}

li > svg {
    width: 24px;
    height: 24px;
}

.logo > svg {
width: 40px;
height: 40px;
}

li > svg path,
.logo > svg {
fill: white;
}

.card-container {
    /* location within overall grid */
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    /* internal grid definition */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.project-header {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    padding-left: 15px;
}

.announce-header {
    grid-row: 2 / 3;
    grid-column: 3 / 4;

    height: 30px;
}

.card {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    height: 100%; 
    min-height: 150px;
    max-height: 180px;    
    margin-right: 15px;
    
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-left: solid 6px rgb(240, 180, 42, 1);
  }

  .card svg {
    width: 20px;
    height: 20px;
  }

  .card .title {
    padding: 10px 0px 0px 10px;
  }
  .card p {
    padding-left: 10px;
    padding-right: 20px;
  }

  .card-icons {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
  }

  .card-icons svg {
    padding: 20px 10px 20px 0px;
  }

.right-side-nav {
     /* location within main-content grid */
     grid-row: 3 / 4;
     grid-column: 3 / 4;
}

.announce {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    padding: 20px;
    margin-right: 20px;
    margin-top:10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.announce-detail > img {
    width: 30px;
}

.announce-detail > p {
    font-size: 12px;
}

.announce-detail > p:last-child {
    font-size: 12px;
}

.announce-detail > hr {
    color: dimgrey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.trend {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    height: auto;
    padding: 20px 20px 0px 20px;
    margin-right: 20px;
    margin-top:10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.trend-detail > img {
    width: 30px;
    height: 30px;
}

.trend-header {
    margin-top: 20px;
    margin-bottom: 5px;
}

.text-test > p {
    font-size: 12px;
}

.text-test {
    margin-bottom: 20px;
    margin-left: 20px;
}

.text-test > .title {
    margin-bottom: 4px;
}

.trend-detail {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: repeat(4, 60px);
}

.footer {
   /* location within overall grid */
    grid-row: 4 / 5;
    grid-column: 1 / 4;

    background-color: rgb(105, 112, 112);
    text-align: center;
}

.avatar-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
    
.button {
    background-color: rgb(25 146 212);
    border: none;
    color: white;
    padding: 10px 24px;
    margin: 0px 20px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 20px;
  }

